*{
    margin: 0;
    padding: 0;
    /*outline: 1px dotted red;*/
}
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
}
h1 {
    font-size: 44px;
}
h2 {
    font-size: 38px;
}
h3 {
    font-size: 28px;
    font-family: Oswald, sans-serif;
    color: #FFFFFF;
}
h4 {
    font-size: 22px;
    font-family: Oswald, sans-serif;
}
.container {
    width: 1000px;
    margin: 0 auto;
}
.top {
    background-image: linear-gradient(180deg, #ebebeb, #fefefe);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 10px 20px;
}
.top > h1 {
    font-family: Acme, sans-serif;
    font-weight: 500;
    line-height: 1.4;
}
.top > h4 {
    font-weight: 500;
}
.main {
    background-image: linear-gradient(180deg, #201014, #6f5964);
    padding: 20px 25px;
}
.profile {
    display: flex;
}
.profile > img {
    border: 6px solid #B8b8b8;
    box-sizing: border-box;
    width: 45%;
}
.about {
    margin-left: 20px;
    padding-bottom: 20px;
    background-image: linear-gradient(180deg, #F7F3F6, #dccedb);
}
.about > h3 {
    background-image: linear-gradient(180deg, #8B8A93, #6D6C75);
    padding: 10px 15px;
}
.about > p {
    padding: 10px;
}
.about > a {
    padding: 10px;
    color: inherit;
}
.projects {
    display: flex;
    justify-content:space-between;
    margin: 20px 0 0;;
}
.projects > div {
    flex-basis: 305px;
    background-image: linear-gradient(180deg, #F7F3F6, #dccedb);
}
.projects > div > h3 {
    background-image: linear-gradient(180deg, #8B8A93, #6D6C75);
    padding: 10px 15px;
}
.projects > div img {
    width: 305px;
}
.projects > div > p {
    padding: 10px;
    text-align: justify;
    min-height: 280px;
}
.projects > div > h4 {
    background-image: linear-gradient(180deg, #8B8A93, #6D6C75);
    padding: 10px 15px;
    color: #FFFFFF;
}
.projects > div div {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
.projects > div div img {
    width: 36px;
    padding: 12px;
}
.button {
    margin: 0 auto;
    padding: 10px 15px;
    margin-top: 15px;
    margin-bottom: 20px;
    display: block;
    background: #407d61;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
}
.bottom {
    background-color: #F9F9F9;
    padding-bottom: 5px;
}
.bottom > p {
    text-align: center;
    padding: 10px;
}
.social {
    display: flex;
    justify-content: center;
}
.social a {
    color: inherit;
    font-style: italic;
    font-size: 16px;
}
.social > div img {
    width: 20px;
    vertical-align: bottom;
    padding: 0px 2px 0px 4px;
}