*{
    margin: 0;
    padding: 0;
    outline: 1px dashed #F3A5A5;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 10px; /* 1em */
    line-height: 1.4;
    color: #444444;
}
h1, h2, h3, h4, h5, h6 {
    display: block;
    margin-left: 0;
    margin-right: 0;
    font-weight: 600;
}
h1 {
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
}
h2 {
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
}
h3 {
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
}
h4 {
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
}
h5 {
    font-size: 0.83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
}
h5 {
    font-size: 0.67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
}
a {
    color: #17a0b5;
}
a:hover {
    color: #e69b00;
}
.red-text { color: red; }
.blue-text { color: #25679f;}
#container {
    font-size: 1.6em;
    width: 970px;
    margin: 0 auto;
}
/*  ~~~~~~~~~~~~~~~~~~~~~~~
        HEADER
    ~~~~~~~~~~~~~~~~~~~~~~~
*/
.header-bottom {
    background-image: linear-gradient(180deg, #25679f, #5293CB);
    color: #FFFFFF;
}
.header-bottom p {
    padding: 0.5em 1em;
    font-size: 1.75em;
    font-weight: 600;
}
/*  ~~~~~~~~~~~~~~~~~~~~~~~
        CONTENT
    ~~~~~~~~~~~~~~~~~~~~~~~
*/